*{
    margin : 0;
    padding : 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}
:root{
    /*pallete */
    --dark-purple : #5B0888;
    --purple : #713ABE;
    --bush : #9D76C1;
    --aux : #E5CFF7;
    --grey : #808080;
}

body{
    background-color : var(--aux);
    width : 100vw;
    height: 100vh;
}
body, html{
    overflow-x : hidden;
}

.navbar{
    height: 10vh;

    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content: center;
    background-color : var(--purple);
    color : white;

    padding : 0 1em;
    height: 25%;
    position : relative;
}
.navbar::after{
    content : "";
    height: 100px;
    width: 100px;
    background-color : transparent;
    position : absolute;
    bottom : 0;
    left : 0;
    transform: translateY(100%);
    border-top-left-radius: 50%;
    box-shadow: -50px -1px 0 0 var(--purple);
}


.navbar h1{
    margin-left : 2vw;
}
.navbar img{
    height: 32%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: absolute;
}

.login-text{
    padding : 1em 0;
    color : var(--purple)
}
.menu-toggle{
    height: 7vh;
    width: 7vh;

    display : flex;
    flex-direction: column;
    justify-content: space-evenly;

    position: relative;
    margin-left : auto;
    margin-right : 2vw; 
    align-self: flex-start;

}
.menu-toggle input{
    height: 100%;
    width : 100%;
    position: absolute;
    opacity: 0;
}
.menu-stick{
    display : flex;
    background-color : white;
    width : 100%;
    height: 10%;
    border-radius : 20px;

    transition : transform 300ms ease-out 0ms;
}

.menu-toggle input:checked ~ .menu-stick:nth-last-child(2){
    transform : scale(0);
}
.menu-toggle input:checked ~ .menu-stick:nth-last-child(1){
    transform : translateY(-15px) rotateZ(45deg);
}
.menu-toggle input:checked ~ .menu-stick:nth-last-child(3){
    transform : translateY(15px) rotatez(-45deg);
}

.navbar-content{
    position : absolute;
    display : flex;
    flex-direction: column;

    height: 100vh;
    width : 50vw;
    background-color: var(--purple);

    top : 7vh;
    right : 0%;
    padding : 0 2em;
    transform : translateX(100%);
    transition: transform 300ms ease-out 0ms;
    z-index : 1;
}
.navbar-content ul{
    list-style : none;
    font-size : 1.3em;
    color : white;
}

.body-flex{
    display : flex;
    flex-direction : column;
    justify-content : space-evenly;
    align-items: center;

    margin-top : 2vh;
    gap : 1em;
}

.option-card{
    display : flex;
    flex-direction : row;
    justify-content : space-evenly;
    align-items : center;
    width : 90vw;
    height: 10vh;
    color : white;
    background-color : var(--bush);

    border-top-left-radius : 40px;
    border-bottom-left-radius : 40px;
    border-bottom-right-radius : 40px;
    box-shadow: rgba(113, 58, 190, .4) 0px 8px 24px;

}
.box-1{
    width : 30%;
}
.box-1 img{
    height : 7vh;
    aspect-ratio: 1/1;
    border-top-left-radius : 40px;
    border-bottom-left-radius : 40px;
    border-bottom-right-radius : 40px;

    object-fit: cover;
}

.box-2{
    display : flex;
    flex-direction: column;
    gap : .2em;
    width : 60%;
}
.box-2 h3{
    width : fit-content;
    padding : .2em 1em;
    border-radius: 20px;
}
.box-2 p{
    background-color: var(--dark-purple);
    width : fit-content;
    padding : .2em 1em;
    border-radius: 20px;
}



/* login styling  */


form > div{
    display : flex;
    flex-direction: column;
    gap : .6em;
    width : 90vw;
    margin : 2em auto;
    box-shadow: rgba(113, 58, 190, .2) 0px 8px 24px;
    padding : 1em;
    width : 80%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    position : relative;
}
input{
    background-color: transparent;
    border : none;
    padding : .2em;
    border-bottom : solid 1px var(--purple);
}

input[type = "submit"]{
    background-color: var(--dark-purple);
    color : white;
    padding : 1em 10em;
    width : fit-content;
    
    position: relative;
    left : 50%;
    transform : translateX(-50%);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index : 0;

}

.password-toggle{
    position: absolute;
    bottom : 15%;
    right : 5%;
    z-index: -1;
}
.password-toggle img{
    height: 20px;
}
.password-toggle input{
    opacity: 0;
    position: absolute;
}
.other-options{
    margin-top : 1em;
    display : flex;
    flex-direction : row;
    justify-content: space-evenly;
    width : 90%;
    height: 5vh;

}

.other-options div{
    display : flex;
    justify-content: center;
    align-items: center;
    border : solid 1px var(--dark-purple);
    border-radius : 30px;
    padding : .5em 2em;
}
.other-options img{
    height: 90%;
}
