*{
    margin : 0;
    padding : 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}
:root{
    /*pallete */
    --dark-purple : #5B0888;
    --purple : #713ABE;
    --bush : #9D76C1;
    --aux : #E5CFF7;
    --grey : #808080;
}

body{
    background-color : var(--aux);
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow : hidden;
}

.navbar{
    height: 10vh;

    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content: flex-start;
    background-color : var(--purple);
    color : white;

    /* padding : 0 1em; */
    position: fixed;
    width : 100%;


}

.navbar h1{
    margin-left : 2vw;
}
.navbar img{
    height: 80%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: 2vw;
}

.menu-toggle{
    height: 7vh;
    width: 7vh;

    display : flex;
    flex-direction: column;
    justify-content: space-evenly;

    position: relative;
    margin-left : auto;
    margin-right : 2vw; 
}
.menu-toggle input{
    height: 100%;
    width : 100%;
    position: absolute;
    opacity: 0;
}
.menu-stick{
    display : flex;
    background-color : white;
    width : 100%;
    height: 10%;
    border-radius : 20px;

    transition : transform 300ms ease-out 0ms;
}

.menu-toggle input:checked ~ .menu-stick:nth-last-child(2){
    transform : scale(0);
}
.menu-toggle input:checked ~ .menu-stick:nth-last-child(1){
    transform : translateY(-15px) rotateZ(45deg);
}
.menu-toggle input:checked ~ .menu-stick:nth-last-child(3){
    transform : translateY(15px) rotatez(-45deg);
}

.navbar-content{
    position : absolute;
    display : flex;
    flex-direction: column;

    height: 100vh;
    width : 50vw;
    background-color: var(--purple);

    top : 9.8vh;
    right : 0%;
    padding : 0 2em;
    transform : translateX(100%);
    transition: transform 300ms ease-out 0ms;

    z-index : 1;
}
.navbar-content ul{
    list-style : none;
    font-size : 1.3em;
    color : white;
}

/* ***************************write box********************************* */

.write-box{
    display : flex;
    flex-direction : row;
    align-items: center;
    justify-content: space-evenly;
    height: 7vh;
    width : 100%;
    position : fixed;
    bottom : 0;
    background-color : var(--purple)
}

.write-box input{
    width : 90%;
    background-color: transparent;
    border : none;
    border-radius : 20px;
    height: 70%;
    width : 85%;
    color : white;
}
.write-box input::placeholder{
    color : white;
}
.write-box img{
    aspect-ratio: 1/1;
    width : 10%;
    background-color : var(--purple);
    padding : 1em;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}


/* ************************message box*********************** */

.msg-box{
    display : flex;
    flex-direction: column;
    overflow-y : scroll;
    width : 100%;
    height: 80%;
    margin-top : 13vh;
    align-items: center;
    gap : .3em;
    position: relative;
}

.anchor{
    display : block;
    height : 10vh;
    width : 50%;
    background-color : var(--dark-purple);
    position: absolute;
    left : 8%;
    transform: skew(30deg);
    z-index : -10;
}
.msg-card{
    display : flex;
    flex-direction : column;
    width : 90%;
    color : white;
}

.msg-head {
    background-color : var(--dark-purple);
    display : flex;
    flex-direction : row;
    padding : 1em 1em;
    border-bottom-left-radius: -20px;
}


.msg-head > p:nth-last-child(1){
    margin-left : auto;
}

.msg-body{
    display : flex;
    justify-content: center;
    align-items: center;
    background-color : var(--bush);
    padding : 1em 1em;
}

.msg-foot{
    display : flex;
    flex-direction : row;
    height : 5vh;
    background-color : var(--bush);
    padding : .7em 1em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: translateY(-10%);

    z-index : -1;
}
.msg-foot img{
    height: 50%;
}
.msg-likes, .shares{
    display : flex;
    flex-direction : row;
    background-color : var(--dark-purple);
    align-items: center;
    padding : 0 1em;
    border-radius : 30px;
}
.msg-likes > img:nth-last-child(2)
{
    margin-left : 1.5em;
}

.shares{
    gap : .4em;
    margin-left : auto;
}


.post-box{
    display : none;
    flex-direction: column;
    position : absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    background-color: var(--purple);
    padding : 1em;
    width : 70%;
    color : white;
    gap : 1em;
    border-radius: 25px;
    box-shadow: rgba(113, 58, 190, .5) 0px 30px 10px;
    z-index : 0;
    animation : post-animation 300ms forwards;

}
.post-box input{
    padding : .5em 1em;
    border-radius: 25px;
    border : none;
}
.post-box input[type = "submit"]
{
    color : white;
    background-color: var(--bush);
    width : fit-content;
    margin : 0 auto;
    border : none;
    padding : 1em 3em;
    border-top-left-radius: 0;
}
@keyframes post-animation {
    0%{
        transform: translate(-50%, -50%) scale(0);
        display : none;
        top : 100%;
    }
    100%{
        transform: translate(-50%, -50%) scale(1);
        display : flex;
        top : 50%;
    }
    
}

@keyframes post-box-out {
    0%{
        transform: translate(-50%, -50%) scale(1);
        display: flex;
    }
    100%{
        transform: translate(-50%, -50%) scale(0);
        display : none;
    }
    
}
/* ***********chatbox message styling************** */

/* all the styling is pasted in style of html only  */

/* .container{
    background-color : var(--bush);
    width : 87%;
    margin : 1em auto;
    color : white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    border : none;
    z-index : -1;
}

.container::before{
    content: "";
    display: block;
    width : 5vh;
    height : 5vh;
    background-color : var(--bush);
    position :absolute;
    clip-path: polygon(0 0, 100% 100%, 100% 0); 
    left : -15px;
    top : 0;
    z-index : -2;
}

#messageInput:focus{
    outline : none;
} */